*{
    padding: 0px;
    margin: 0px;
}

header{
    background-color: #262626;
    height: 89px;
}

header img{
    padding-right: 30px;
    padding-left: 50px;
}

#header{
    margin-right: 150px;
}

#header a{
    margin: 2em;
    height: 50%;
    float: right;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
}

p{
    font-family: 'Roboto', sans-serif;
}

.first-view{
    font-family: 'Work Sans', sans-serif;
    font-size: 7.75em;
}

.second a{
    padding: 1em;
}

h1{

}

.first{
    background-color:  #262626;
}

.main{
    background-image: url('/img/bonepan.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 1100px 800px;
    height: 900px;

}

.main h1{
    padding-left: 1.31em;
    padding-top: 1em;
}

#read-more a{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 3px;
    padding: 15px;
    width: 200px;
    margin-left: 173px;
}

.second{
    color: black;
    margin-bottom: 60px;
 }

.heading{
    width: 60%;
    padding: 40px;
    padding-left: 300px;
}

.heading h2{
    padding: 10px;
    font-size: 2.4rem;
    font-family: 'Work Sans', sans-serif;
}

.heading p{
    padding: 10px;
    font-size: 1.1rem;
}

.container{
    color: #000000;
}

#secties{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#secties div{
    position: relative;
}

#secties p{
    position: absolute;
    bottom: 32px;
    left: 62px;
}

.img-text{
    padding: 20px;
    font-size: 1.7em;
    color: #ffffff;
    color: #ffffff;
}

.third{
    background-color: #ff6a00;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 630px;
    color: #ffffff;
}
.third img{
    width: 53%;
    height: 630px;
    -o-object-fit: cover;
       object-fit: cover;
}

.second-heading{
    width: 47%;
    text-align: left;
    padding: 80px;
    padding-left: 15em;
}

.second-heading h2{
    font-size: 3.4rem;
    padding: 15px;
    font-family: 'Work Sans', sans-serif;
}

.second-heading p{
    padding: 15px;
    width: 70%;
}

.fourth{
    background-color: #262626;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 630px;
    color: #ffffff;
}
.fourth img{
    width: 51%;
    height: 630px;
    -o-object-fit: cover;
       object-fit: cover;
}

#read-more2 a{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    border-radius: 3px;
    padding: 15px;
    width: 200px;
    margin-left: 14px;
    background-color: #ff6a00;
}

.footer{
    display: flex;
    justify-content: space-between;
    margin: 100px;

}

#footer-info{
    width: 20%;
}

#footer-info h3{
    font-family: 'Work Sans', sans-serif;
}

#logo{
    display: flex;
    justify-content: flex-end;
    padding-right: 120px;
}

